## 01. Import Libraries

In [42]:
# Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## 02. Import Data

In [45]:
# define data path:
path = r'/Users/piperdutcher/Documents/Achievement 6/02 Data/kc_house_data.csv'

In [47]:
# import data

df = pd.read_csv(os.path.join(path))

## 03. Data Cleansing / Exploration

In [50]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [52]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [54]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [56]:
df.shape

(21613, 21)

In [58]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [60]:
pd.set_option('display.max_columns', None)
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [62]:
# we do not need descriptive statistics on several columns: id, zipcode, latitude, longitude

In [64]:
# renaming columns lat and long for clarity:
df.rename(columns = {'lat' : 'latitude'}, inplace = True)
df.rename(columns = {'long' : 'longitude'}, inplace = True)

In [66]:
# double checking:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'latitude', 'longitude', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [68]:
# need to see if sqft_living and sqft_living15 are duplicate columns:

df[['sqft_living' , 'sqft_living15']].describe()

        sqft_living  sqft_living15
count  21613.000000   21613.000000
mean    2079.899736    1986.552492
std      918.440897     685.391304
min      290.000000     399.000000
25%     1427.000000    1490.000000
50%     1910.000000    1840.000000
75%     2550.000000    2360.000000
max    13540.000000    6210.000000

In [70]:
## as these columns are not the same, we will need to find out what they are, and rename one or both for clarity...
## repeat same check with sqft_lot and sqft_lot15

df[['sqft_lot' , 'sqft_lot15']].describe()

           sqft_lot     sqft_lot15
count  2.161300e+04   21613.000000
mean   1.510697e+04   12768.455652
std    4.142051e+04   27304.179631
min    5.200000e+02     651.000000
25%    5.040000e+03    5100.000000
50%    7.618000e+03    7620.000000
75%    1.068800e+04   10083.000000
max    1.651359e+06  871200.000000

In [72]:
## again, these are not duplicate columns, so we will need to find out what they represent, and rename them for clarity

In [74]:
## storing id and zipcode as strings:

df['zipcode'] = df['zipcode'].astype('str')
df['id'] = df['id'].astype('str')

In [76]:
# double check data types for confirmation of reassignment:

df.dtypes

id                object
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode           object
latitude         float64
longitude        float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [78]:
## investigating date column, possible need for reformatting for clarity:

df['date'].head(100)

0     20141013T000000
1     20141209T000000
2     20150225T000000
3     20141209T000000
4     20150218T000000
           ...
95    20140908T000000
96    20150330T000000
97    20140912T000000
98    20140711T000000
99    20140516T000000
Name: date, Length: 100, dtype: object

In [80]:
df['date'].tail(100)

21513    20140513T000000
21514    20150227T000000
21515    20141215T000000
21516    20141001T000000
21517    20140626T000000
              ...
21608    20140521T000000
21609    20150223T000000
21610    20140623T000000
21611    20150116T000000
21612    20141015T000000
Name: date, Length: 100, dtype: object

In [82]:
# it appears that the date is followed by T000000, a possible explanation is that this would indicate time
# if time is always T000000, it could make sense to remove this from the string to make the data more legible/usable. 
# will start by reformatting this as a string so we can extract date (month day and year)

In [84]:
df['date'] = df['date'].astype('str')

In [86]:
# begin to derive new column for date

In [89]:
# check for duplicates in home id

duplicate_id = df[df['id'].duplicated(keep = False)]
print(duplicate_id)

# chose keep = false in order to see the first and last instance of a houses sale by comparing dates.

               id             date      price  bedrooms  bathrooms  \
93     6021501535  20140725T000000   430000.0         3       1.50
94     6021501535  20141223T000000   700000.0         3       1.50
313    4139480200  20140618T000000  1384000.0         4       3.25
314    4139480200  20141209T000000  1400000.0         4       3.25
324    7520000520  20140905T000000   232000.0         2       1.00
...           ...              ...        ...       ...        ...
20670  8564860270  20150330T000000   502000.0         4       2.50
20779  6300000226  20140626T000000   240000.0         4       1.00
20780  6300000226  20150504T000000   380000.0         4       1.00
21580  7853420110  20141003T000000   594866.0         3       3.00
21581  7853420110  20150504T000000   625000.0         3       3.00

       sqft_living  sqft_lot  floors  waterfront  view  condition  grade  \
93            1580      5000     1.0           0     0          3      8
94            1580      5000     1.0           0     0          3      8
313           4290     12103     1.0           0     3          3     11
314           4290     12103     1.0           0     3          3     11
324           1240     12092     1.0           0     0          3      6
...            ...       ...     ...         ...   ...        ...    ...
20670         2680      5539     2.0           0     0          3      8
20779         1200      2171     1.5           0     0          3      7
20780         1200      2171     1.5           0     0          3      7
21580         2780      6000     2.0           0     0          3      9
21581         2780      6000     2.0           0     0          3      9

       sqft_above  sqft_basement  yr_built  yr_renovated zipcode  latitude  \
93           1290            290      1939             0   98117   47.6870
94           1290            290      1939             0   98117   47.6870
313          2690           1600      1997             0   98006   47.5503
314          2690           1600      1997             0   98006   47.5503
324           960            280      1922          1984   98146   47.4957
...           ...            ...       ...           ...     ...       ...
20670        2680              0      2013             0   98045   47.4759
20779        1200              0      1933             0   98133   47.7076
20780        1200              0      1933             0   98133   47.7076
21580        2780              0      2013             0   98065   47.5184
21581        2780              0      2013             0   98065   47.5184

       longitude  sqft_living15  sqft_lot15
93      -122.386           1570        4500
94      -122.386           1570        4500
313     -122.102           3860       11244
314     -122.102           3860       11244
324     -122.352           1820        7460
...          ...            ...         ...
20670   -121.734           2680        5992
20779   -122.342           1130        1598
20780   -122.342           1130        1598
21580   -121.886           2850        6000
21581   -121.886           2850        6000

[353 rows x 21 columns]

In [91]:
# it appears as if there are 177 duplicate home id entries
# these will likley need to be removed, unless it can be determined that the house was sold more than once in a calendar year

In [93]:
duplicate_id.head(353)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
93,6021501535,20140725T000000,430000.0,3,1.50,1580,5000,1.0,0,0,3,8,1290,290,1939,0,98117,47.6870,-122.386,1570,4500
94,6021501535,20141223T000000,700000.0,3,1.50,1580,5000,1.0,0,0,3,8,1290,290,1939,0,98117,47.6870,-122.386,1570,4500
313,4139480200,20140618T000000,1384000.0,4,3.25,4290,12103,1.0,0,3,3,11,2690,1600,1997,0,98006,47.5503,-122.102,3860,11244
314,4139480200,20141209T000000,1400000.0,4,3.25,4290,12103,1.0,0,3,3,11,2690,1600,1997,0,98006,47.5503,-122.102,3860,11244
324,7520000520,20140905T000000,232000.0,2,1.00,1240,12092,1.0,0,0,3,6,960,280,1922,1984,98146,47.4957,-122.352,1820,7460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20670,8564860270,20150330T000000,502000.0,4,2.50,2680,5539,2.0,0,0,3,8,2680,0,2013,0,98045,47.4759,-121.734,2680,5992
20779,6300000226,20140626T000000,240000.0,4,1.00,1200,2171,1.5,0,0,3,7,1200,0,1933,0,98133,47.7076,-122.342,1130,1598
20780,6300000226,20150504T000000,380000.0,4,1.00,1200,2171,1.5,0,0,3,7,1200,0,1933,0,98133,47.7076,-122.342,1130,1598
21580,7853420110,20141003T000000,594866.0,3,3.00,2780,6000,2.0,0,0,3,9,2780,0,2013,0,98065,47.5184,-121.886,2850,6000
21581,7853420110,20150504T000000,625000.0,3,3.00,2780,6000,2.0,0,0,3,9,2780,0,2013,0,98065,47.5184,-121.886,2850,6000

In [95]:
# will leave duplicate ids for now to account for resale

# convert date to date-time, then derive new columns for month and year

In [97]:
df['date'] = pd.to_datetime(df['date'])

In [99]:
df['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

In [101]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [103]:
#derive new columns for month and year
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

In [105]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,latitude,longitude,sqft_living15,sqft_lot15,month,year
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,10,2014
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,12,2014
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2,2015
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,12,2014
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2,2015

In [121]:
# assessing for 'interesting' inputs (homes with 0 bedrooms / bathrooms)

df['bedrooms'].describe()

count    21613.000000
mean         3.370842
std          0.930062
min          0.000000
25%          3.000000
50%          3.000000
75%          4.000000
max         33.000000
Name: bedrooms, dtype: float64

In [123]:
# why is there a house with 33 bedrooms, investigating this...

df['bedrooms'].value_counts(dropna=False)

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

In [125]:
# the majority of houses have three bedrooms, it is likely that the house with 33 bedrooms has 3 bedrooms
# will confirm by checking square footage, then will more closely assess houses with zero bedrooms

In [127]:
# df_prods[df_prods['department_id']==19]

print(df[df['bedrooms']==33])

               id       date     price  bedrooms  bathrooms  sqft_living  \
15870  2402100895 2014-06-25  640000.0        33       1.75         1620

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
15870      6000     1.0           0     0          5      7        1040

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
15870            580      1947             0   98103   47.6878   -122.331

       sqft_living15  sqft_lot15  month  year
15870           1330        4700      6  2014

In [129]:
# this home definitely does not have 33 bedrooms in 1620 sq ft of living space. we can exclude this entry.

df = df.loc[df['bedrooms'] < 33]

# take a closer look at homes with zero bedrooms

print(df[df['bedrooms']==0])

               id       date      price  bedrooms  bathrooms  sqft_living  \
875    6306400140 2014-06-12  1095000.0         0       0.00         3064
3119   3918400017 2015-02-05   380000.0         0       0.00         1470
3467   1453602309 2014-08-05   288000.0         0       1.50         1430
4868   6896300380 2014-10-02   228000.0         0       1.00          390
6994   2954400190 2014-06-24  1295650.0         0       0.00         4810
8477   2569500210 2014-11-17   339950.0         0       2.50         2290
8484   2310060040 2014-09-25   240000.0         0       2.50         1810
9773   3374500520 2015-04-29   355000.0         0       0.00         2460
9854   7849202190 2014-12-23   235000.0         0       0.00         1470
12653  7849202299 2015-02-18   320000.0         0       2.50         1490
14423  9543000205 2015-04-13   139950.0         0       0.00          844
18379  1222029077 2014-10-29   265000.0         0       0.75          384
19452  3980300371 2014-09-26   142000.0         0       0.00          290

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
875        4764     3.5           0     2          3      7        3064
3119        979     3.0           0     2          3      8        1470
3467       1650     3.0           0     0          3      7        1430
4868       5900     1.0           0     0          2      4         390
6994      28008     2.0           0     0          3     12        4810
8477       8319     2.0           0     0          3      8        2290
8484       5669     2.0           0     0          3      7        1810
9773       8049     2.0           0     0          3      8        2460
9854       4800     2.0           0     0          3      7        1470
12653      7111     2.0           0     0          3      7        1490
14423      4269     1.0           0     0          4      7         844
18379    213444     1.0           0     0          3      4         384
19452     20875     1.0           0     0          1      1         290

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
875                0      1990             0   98102   47.6362   -122.322
3119               0      2006             0   98133   47.7145   -122.356
3467               0      1999             0   98125   47.7222   -122.290
4868               0      1953             0   98118   47.5260   -122.261
6994               0      1990             0   98053   47.6642   -122.069
8477               0      1985             0   98042   47.3473   -122.151
8484               0      2003             0   98038   47.3493   -122.053
9773               0      1990             0   98031   47.4095   -122.168
9854               0      1996             0   98065   47.5265   -121.828
12653              0      1999             0   98065   47.5261   -121.826
14423              0      1913             0   98001   47.2781   -122.250
18379              0      2003             0   98070   47.4177   -122.491
19452              0      1963             0   98024   47.5308   -121.888

       sqft_living15  sqft_lot15  month  year
875             2360        4000      6  2014
3119            1470        1399      2  2015
3467            1430        1650      8  2014
4868            2170        6000     10  2014
6994            4740       35061      6  2014
8477            2500        8751     11  2014
8484            1810        5685      9  2014
9773            2520        8050      4  2015
9854            1060        7200     12  2014
12653           1500        4675      2  2015
14423           1380        9600      4  2015
18379           1920      224341     10  2014
19452           1620       22850      9  2014

In [131]:
# there appear to be homes with zero bedrooms and bathrooms, taking a closer look.

print(df[(df['bedrooms'] == 0) & (df['bathrooms'] == 0)])

               id       date      price  bedrooms  bathrooms  sqft_living  \
875    6306400140 2014-06-12  1095000.0         0        0.0         3064
3119   3918400017 2015-02-05   380000.0         0        0.0         1470
6994   2954400190 2014-06-24  1295650.0         0        0.0         4810
9773   3374500520 2015-04-29   355000.0         0        0.0         2460
9854   7849202190 2014-12-23   235000.0         0        0.0         1470
14423  9543000205 2015-04-13   139950.0         0        0.0          844
19452  3980300371 2014-09-26   142000.0         0        0.0          290

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
875        4764     3.5           0     2          3      7        3064
3119        979     3.0           0     2          3      8        1470
6994      28008     2.0           0     0          3     12        4810
9773       8049     2.0           0     0          3      8        2460
9854       4800     2.0           0     0          3      7        1470
14423      4269     1.0           0     0          4      7         844
19452     20875     1.0           0     0          1      1         290

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
875                0      1990             0   98102   47.6362   -122.322
3119               0      2006             0   98133   47.7145   -122.356
6994               0      1990             0   98053   47.6642   -122.069
9773               0      1990             0   98031   47.4095   -122.168
9854               0      1996             0   98065   47.5265   -121.828
14423              0      1913             0   98001   47.2781   -122.250
19452              0      1963             0   98024   47.5308   -121.888

       sqft_living15  sqft_lot15  month  year
875             2360        4000      6  2014
3119            1470        1399      2  2015
6994            4740       35061      6  2014
9773            2520        8050      4  2015
9854            1060        7200     12  2014
14423           1380        9600      4  2015
19452           1620       22850      9  2014

In [133]:
# there are 7 entries where homes have 0 bedrooms and 0 bathrooms
# this could be a data entry error, and these values should be excluded from the analysis due to inaccuracy.

# updating the data frame to exclude these but first checking the shape, we should have 21612 rows
df.shape

(21612, 23)

In [138]:
df['bathrooms'].value_counts(dropna=False)

bathrooms
2.50    5380
1.00    3852
1.75    3047
2.25    2047
2.00    1930
1.50    1446
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      72
4.75      23
5.00      21
5.25      13
0.00      10
5.50      10
1.25       9
6.00       6
0.50       4
5.75       4
6.75       2
8.00       2
6.25       2
6.50       2
7.50       1
7.75       1
Name: count, dtype: int64

In [142]:
df['bathrooms'].describe()

count    21612.000000
mean         2.114774
std          0.770177
min          0.000000
25%          1.750000
50%          2.250000
75%          2.500000
max          8.000000
Name: bathrooms, dtype: float64

In [146]:
print(df[df['bathrooms']==0])

               id       date      price  bedrooms  bathrooms  sqft_living  \
875    6306400140 2014-06-12  1095000.0         0        0.0         3064
1149   3421079032 2015-02-17    75000.0         1        0.0          670
3119   3918400017 2015-02-05   380000.0         0        0.0         1470
5832   5702500050 2014-11-04   280000.0         1        0.0          600
6994   2954400190 2014-06-24  1295650.0         0        0.0         4810
9773   3374500520 2015-04-29   355000.0         0        0.0         2460
9854   7849202190 2014-12-23   235000.0         0        0.0         1470
10481   203100435 2014-09-18   484000.0         1        0.0          690
14423  9543000205 2015-04-13   139950.0         0        0.0          844
19452  3980300371 2014-09-26   142000.0         0        0.0          290

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
875        4764     3.5           0     2          3      7        3064
1149      43377     1.0           0     0          3      3         670
3119        979     3.0           0     2          3      8        1470
5832      24501     1.0           0     0          2      3         600
6994      28008     2.0           0     0          3     12        4810
9773       8049     2.0           0     0          3      8        2460
9854       4800     2.0           0     0          3      7        1470
10481     23244     1.0           0     0          4      7         690
14423      4269     1.0           0     0          4      7         844
19452     20875     1.0           0     0          1      1         290

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
875                0      1990             0   98102   47.6362   -122.322
1149               0      1966             0   98022   47.2638   -121.906
3119               0      2006             0   98133   47.7145   -122.356
5832               0      1950             0   98045   47.5316   -121.749
6994               0      1990             0   98053   47.6642   -122.069
9773               0      1990             0   98031   47.4095   -122.168
9854               0      1996             0   98065   47.5265   -121.828
10481              0      1948             0   98053   47.6429   -121.955
14423              0      1913             0   98001   47.2781   -122.250
19452              0      1963             0   98024   47.5308   -121.888

       sqft_living15  sqft_lot15  month  year
875             2360        4000      6  2014
1149            1160       42882      2  2015
3119            1470        1399      2  2015
5832             990       22549     11  2014
6994            4740       35061      6  2014
9773            2520        8050      4  2015
9854            1060        7200     12  2014
10481           1690       19290      9  2014
14423           1380        9600      4  2015
19452           1620       22850      9  2014

In [148]:
zero_bathrooms = (df[df['bathrooms']==0])

In [150]:
print(zero_bathrooms)

               id       date      price  bedrooms  bathrooms  sqft_living  \
875    6306400140 2014-06-12  1095000.0         0        0.0         3064
1149   3421079032 2015-02-17    75000.0         1        0.0          670
3119   3918400017 2015-02-05   380000.0         0        0.0         1470
5832   5702500050 2014-11-04   280000.0         1        0.0          600
6994   2954400190 2014-06-24  1295650.0         0        0.0         4810
9773   3374500520 2015-04-29   355000.0         0        0.0         2460
9854   7849202190 2014-12-23   235000.0         0        0.0         1470
10481   203100435 2014-09-18   484000.0         1        0.0          690
14423  9543000205 2015-04-13   139950.0         0        0.0          844
19452  3980300371 2014-09-26   142000.0         0        0.0          290

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
875        4764     3.5           0     2          3      7        3064
1149      43377     1.0           0     0          3      3         670
3119        979     3.0           0     2          3      8        1470
5832      24501     1.0           0     0          2      3         600
6994      28008     2.0           0     0          3     12        4810
9773       8049     2.0           0     0          3      8        2460
9854       4800     2.0           0     0          3      7        1470
10481     23244     1.0           0     0          4      7         690
14423      4269     1.0           0     0          4      7         844
19452     20875     1.0           0     0          1      1         290

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
875                0      1990             0   98102   47.6362   -122.322
1149               0      1966             0   98022   47.2638   -121.906
3119               0      2006             0   98133   47.7145   -122.356
5832               0      1950             0   98045   47.5316   -121.749
6994               0      1990             0   98053   47.6642   -122.069
9773               0      1990             0   98031   47.4095   -122.168
9854               0      1996             0   98065   47.5265   -121.828
10481              0      1948             0   98053   47.6429   -121.955
14423              0      1913             0   98001   47.2781   -122.250
19452              0      1963             0   98024   47.5308   -121.888

       sqft_living15  sqft_lot15  month  year
875             2360        4000      6  2014
1149            1160       42882      2  2015
3119            1470        1399      2  2015
5832             990       22549     11  2014
6994            4740       35061      6  2014
9773            2520        8050      4  2015
9854            1060        7200     12  2014
10481           1690       19290      9  2014
14423           1380        9600      4  2015
19452           1620       22850      9  2014

In [152]:
zero_bathrooms.shape

(10, 23)

In [156]:
print(zero_bathrooms[zero_bathrooms['bedrooms']==0])

               id       date      price  bedrooms  bathrooms  sqft_living  \
875    6306400140 2014-06-12  1095000.0         0        0.0         3064
3119   3918400017 2015-02-05   380000.0         0        0.0         1470
6994   2954400190 2014-06-24  1295650.0         0        0.0         4810
9773   3374500520 2015-04-29   355000.0         0        0.0         2460
9854   7849202190 2014-12-23   235000.0         0        0.0         1470
14423  9543000205 2015-04-13   139950.0         0        0.0          844
19452  3980300371 2014-09-26   142000.0         0        0.0          290

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
875        4764     3.5           0     2          3      7        3064
3119        979     3.0           0     2          3      8        1470
6994      28008     2.0           0     0          3     12        4810
9773       8049     2.0           0     0          3      8        2460
9854       4800     2.0           0     0          3      7        1470
14423      4269     1.0           0     0          4      7         844
19452     20875     1.0           0     0          1      1         290

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
875                0      1990             0   98102   47.6362   -122.322
3119               0      2006             0   98133   47.7145   -122.356
6994               0      1990             0   98053   47.6642   -122.069
9773               0      1990             0   98031   47.4095   -122.168
9854               0      1996             0   98065   47.5265   -121.828
14423              0      1913             0   98001   47.2781   -122.250
19452              0      1963             0   98024   47.5308   -121.888

       sqft_living15  sqft_lot15  month  year
875             2360        4000      6  2014
3119            1470        1399      2  2015
6994            4740       35061      6  2014
9773            2520        8050      4  2015
9854            1060        7200     12  2014
14423           1380        9600      4  2015
19452           1620       22850      9  2014

In [158]:
zero_bedbath = (zero_bathrooms[zero_bathrooms['bedrooms']==0])

In [160]:
print(zero_bedbath)
zero_bedbath.shape

               id       date      price  bedrooms  bathrooms  sqft_living  \
875    6306400140 2014-06-12  1095000.0         0        0.0         3064
3119   3918400017 2015-02-05   380000.0         0        0.0         1470
6994   2954400190 2014-06-24  1295650.0         0        0.0         4810
9773   3374500520 2015-04-29   355000.0         0        0.0         2460
9854   7849202190 2014-12-23   235000.0         0        0.0         1470
14423  9543000205 2015-04-13   139950.0         0        0.0          844
19452  3980300371 2014-09-26   142000.0         0        0.0          290

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
875        4764     3.5           0     2          3      7        3064
3119        979     3.0           0     2          3      8        1470
6994      28008     2.0           0     0          3     12        4810
9773       8049     2.0           0     0          3      8        2460
9854       4800     2.0           0     0          3      7        1470
14423      4269     1.0           0     0          4      7         844
19452     20875     1.0           0     0          1      1         290

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
875                0      1990             0   98102   47.6362   -122.322
3119               0      2006             0   98133   47.7145   -122.356
6994               0      1990             0   98053   47.6642   -122.069
9773               0      1990             0   98031   47.4095   -122.168
9854               0      1996             0   98065   47.5265   -121.828
14423              0      1913             0   98001   47.2781   -122.250
19452              0      1963             0   98024   47.5308   -121.888

       sqft_living15  sqft_lot15  month  year
875             2360        4000      6  2014
3119            1470        1399      2  2015
6994            4740       35061      6  2014
9773            2520        8050      4  2015
9854            1060        7200     12  2014
14423           1380        9600      4  2015
19452           1620       22850      9  2014

(7, 23)

In [184]:
# there are 7 entries where the house has zero bedrooms and bathrooms. These should be excluded from our dataset. 
# while there are only 7 entries that do not have bedroom and bathroom, there are a total of ten entries without a bathroom
# we will be excluding these ten entries

In [164]:
# export data to new path
path1 = r'/Users/piperdutcher/Documents/Achievement 6/02 Data/Prepared Data'
df.to_csv(os.path.join(path1, 'updated_dataset.csv'))

In [190]:
print(df[(df['bathrooms'] > 0)])

               id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
0          5650     1.0           0     0          3      7        1180
1          7242     2.0           0     0          3      7        2170
2         10000     1.0           0     0          3      6         770
3          5000     1.0           0     0          5      7        1050
4          8080     1.0           0     0          3      8        1680
...         ...     ...         ...   ...        ...    ...         ...
21608      1131     3.0           0     0          3      8        1530
21609      5813     2.0           0     0          3      8        2310
21610      1350     2.0           0     0          3      7        1020
21611      2388     2.0           0     0          3      8        1600
21612      1076     2.0           0     0          3      7        1020

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
0                  0      1955             0   98178   47.5112   -122.257
1                400      1951          1991   98125   47.7210   -122.319
2                  0      1933             0   98028   47.7379   -122.233
3                910      1965             0   98136   47.5208   -122.393
4                  0      1987             0   98074   47.6168   -122.045
...              ...       ...           ...     ...       ...        ...
21608              0      2009             0   98103   47.6993   -122.346
21609              0      2014             0   98146   47.5107   -122.362
21610              0      2009             0   98144   47.5944   -122.299
21611              0      2004             0   98027   47.5345   -122.069
21612              0      2008             0   98144   47.5941   -122.299

       sqft_living15  sqft_lot15  month  year
0               1340        5650     10  2014
1               1690        7639     12  2014
2               2720        8062      2  2015
3               1360        5000     12  2014
4               1800        7503      2  2015
...              ...         ...    ...   ...
21608           1530        1509      5  2014
21609           1830        7200      2  2015
21610           1020        2007      6  2014
21611           1410        1287      1  2015
21612           1020        1357     10  2014

[21602 rows x 23 columns]

In [196]:
df1 = (df[df['bathrooms']>0])

In [198]:
df1.shape

(21602, 23)

In [200]:
# we have excluded the ten entries missing bathrooms
# rechecking entries without bedrooms

df1['bedrooms'].value_counts()

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      196
7       38
8       13
0        6
9        6
10       3
11       1
Name: count, dtype: int64

In [202]:
# there are 6 entries without bedrooms, 

print(df1[df1['bedrooms'] == 0])

               id       date     price  bedrooms  bathrooms  sqft_living  \
3467   1453602309 2014-08-05  288000.0         0       1.50         1430
4868   6896300380 2014-10-02  228000.0         0       1.00          390
8477   2569500210 2014-11-17  339950.0         0       2.50         2290
8484   2310060040 2014-09-25  240000.0         0       2.50         1810
12653  7849202299 2015-02-18  320000.0         0       2.50         1490
18379  1222029077 2014-10-29  265000.0         0       0.75          384

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
3467       1650     3.0           0     0          3      7        1430
4868       5900     1.0           0     0          2      4         390
8477       8319     2.0           0     0          3      8        2290
8484       5669     2.0           0     0          3      7        1810
12653      7111     2.0           0     0          3      7        1490
18379    213444     1.0           0     0          3      4         384

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
3467               0      1999             0   98125   47.7222   -122.290
4868               0      1953             0   98118   47.5260   -122.261
8477               0      1985             0   98042   47.3473   -122.151
8484               0      2003             0   98038   47.3493   -122.053
12653              0      1999             0   98065   47.5261   -121.826
18379              0      2003             0   98070   47.4177   -122.491

       sqft_living15  sqft_lot15  month  year
3467            1430        1650      8  2014
4868            2170        6000     10  2014
8477            2500        8751     11  2014
8484            1810        5685      9  2014
12653           1500        4675      2  2015
18379           1920      224341     10  2014

In [208]:
# two of these have a sqft_living under 400, indicating that it is possible these are considered micro-units and accurate data entries.
# the other four should be excluded from our analysis 

print(df1[(df1['bedrooms'] == 0) & (df1['sqft_living'] > 400)])

               id       date     price  bedrooms  bathrooms  sqft_living  \
3467   1453602309 2014-08-05  288000.0         0        1.5         1430
8477   2569500210 2014-11-17  339950.0         0        2.5         2290
8484   2310060040 2014-09-25  240000.0         0        2.5         1810
12653  7849202299 2015-02-18  320000.0         0        2.5         1490

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
3467       1650     3.0           0     0          3      7        1430
8477       8319     2.0           0     0          3      8        2290
8484       5669     2.0           0     0          3      7        1810
12653      7111     2.0           0     0          3      7        1490

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
3467               0      1999             0   98125   47.7222   -122.290
8477               0      1985             0   98042   47.3473   -122.151
8484               0      2003             0   98038   47.3493   -122.053
12653              0      1999             0   98065   47.5261   -121.826

       sqft_living15  sqft_lot15  month  year
3467            1430        1650      8  2014
8477            2500        8751     11  2014
8484            1810        5685      9  2014
12653           1500        4675      2  2015

In [221]:
## filtering out the four entries then checking shape to confirm

In [219]:
filtered_df = df1[~((df1['bedrooms'] == 0) & (df1['sqft_living'] > 400))]
filtered_df.shape

(21598, 23)

In [229]:
#investigating price column

filtered_df['price'].describe()

count    2.159800e+04
mean     5.401711e+05
std      3.671355e+05
min      7.800000e+04
25%      3.220000e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [235]:
filtered_df['sqft_living'].describe()

count    21598.000000
mean      2080.186360
std        918.224117
min        370.000000
25%       1430.000000
50%       1910.000000
75%       2550.000000
max      13540.000000
Name: sqft_living, dtype: float64

In [241]:
print(filtered_df[(filtered_df['sqft_living'] >10000)])

               id       date      price  bedrooms  bathrooms  sqft_living  \
3914   9808700762 2014-06-11  7062500.0         5        4.5        10040
7252   6762700020 2014-10-13  7700000.0         6        8.0        12050
12777  1225069038 2014-05-05  2280000.0         7        8.0        13540

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
3914      37325     2.0           1     2          3     11        7680
7252      27600     2.5           0     3          4     13        8570
12777    307752     3.0           0     4          3     12        9410

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
3914            2360      1940          2001   98004   47.6500   -122.214
7252            3480      1910          1987   98102   47.6298   -122.323
12777           4130      1999             0   98053   47.6675   -121.986

       sqft_living15  sqft_lot15  month  year
3914            3930       25449      6  2014
7252            3940        8800     10  2014
12777           4850      217800      5  2014

In [243]:
print(filtered_df[(filtered_df['sqft_living'] < 500)])

               id       date     price  bedrooms  bathrooms  sqft_living  \
465    8658300340 2014-05-23   80000.0         1       0.75          430
860    1723049033 2014-06-20  245000.0         1       0.75          380
1168   3523029041 2014-10-09  290000.0         2       0.75          440
4203   1437500015 2014-07-09  150000.0         3       0.75          490
4868   6896300380 2014-10-02  228000.0         0       1.00          390
8133   7849202585 2014-09-04  170000.0         1       1.00          480
8623   6303400395 2015-01-30  325000.0         1       0.75          410
11500  4322200105 2015-03-31  229050.0         1       1.00          420
12075  8655900162 2015-02-19  156000.0         1       0.75          470
14466  7549801385 2014-06-12  280000.0         1       0.75          420
15248  1320069249 2014-10-20  192500.0         1       1.00          470
15381  2856101479 2014-07-01  276000.0         1       0.75          370
17394   745000005 2014-08-25  145000.0         1       0.75          480
18052  1352300580 2014-11-14  247000.0         1       1.00          460
18379  1222029077 2014-10-29  265000.0         0       0.75          384
21332  9266700190 2015-05-11  245000.0         1       1.00          390

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
465        5050     1.0           0     0          2      4         430
860       15000     1.0           0     0          3      5         380
1168       8313     1.0           1     3          4      5         440
4203      38500     1.5           0     0          4      5         490
4868       5900     1.0           0     0          2      4         390
8133       4560     1.0           0     0          3      5         480
8623       8636     1.0           0     0          2      4         410
11500      3298     1.0           0     0          4      4         420
12075     15000     1.0           0     0          3      4         470
14466      6720     1.0           0     0          3      5         420
15248     63737     1.0           0     2          5      5         470
15381      1801     1.0           0     0          5      5         370
17394      9750     1.0           0     0          2      4         480
18052      4120     1.0           0     0          3      4         460
18379    213444     1.0           0     0          3      4         384
21332      2000     1.0           0     0          4      6         390

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
465                0      1912             0   98014   47.6499   -121.909
860                0      1963             0   98168   47.4810   -122.323
1168               0      1943             0   98070   47.4339   -122.512
4203               0      1959             0   98014   47.7112   -121.315
4868               0      1953             0   98118   47.5260   -122.261
8133               0      1922             0   98065   47.5253   -121.826
8623               0      1953             0   98146   47.5077   -122.357
11500              0      1949             0   98136   47.5375   -122.391
12075              0      1947             0   98014   47.6554   -121.908
14466              0      1922             0   98108   47.5520   -122.311
15248              0      1924             0   98022   47.2163   -121.984
15381              0      1923             0   98117   47.6778   -122.389
17394              0      1948             0   98146   47.4982   -122.362
18052              0      1937             0   98055   47.4868   -122.199
18379              0      2003             0   98070   47.4177   -122.491
21332              0      1920             0   98103   47.6938   -122.347

       sqft_living15  sqft_lot15  month  year
465             1200        7500      5  2014
860             1170       15000      6  2014
1168             880       26289     10  2014
4203             800       18297      7  2014
4868            2170        6000     10  2014
8133             890        4803      9  2014
8623            1190        8636      1  2015
11500           1460        4975      3  2015
12075           1730       22500      2  2015
14466           1420        6720      6  2014
15248           1350       46762     10  2014
15381           1340        5000      7  2014
17394           1550        9924      8  2014
18052            990        4120     11  2014
18379           1920      224341     10  2014
21332           1340        5100      5  2015

In [245]:
# there appears to be one entry where the sqft_living is under 500 , yet the house is said to have 3 bedrooms. 
# this does not seem to be plausible, it might make sense to exclude this entry.

print(filtered_df[(filtered_df['bedrooms'] == 3) & (df1['sqft_living'] == 490)])

              id       date     price  bedrooms  bathrooms  sqft_living  \
4203  1437500015 2014-07-09  150000.0         3       0.75          490

      sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
4203     38500     1.5           0     0          4      5         490

      sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
4203              0      1959             0   98014   47.7112   -121.315

      sqft_living15  sqft_lot15  month  year
4203            800       18297      7  2014

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_27691/377750046.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(filtered_df[(filtered_df['bedrooms'] == 3) & (df1['sqft_living'] == 490)])

In [247]:
filtered_df1 = filtered_df[~((filtered_df['bedrooms'] == 3) & (df1['sqft_living'] == 490))]
filtered_df1.shape

/var/folders/02/_ydtglj578xfqwjs1hm49rhc0000gn/T/ipykernel_27691/2022354499.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df1 = filtered_df[~((filtered_df['bedrooms'] == 3) & (df1['sqft_living'] == 490))]

(21597, 23)

In [249]:
## one entry has been successfully removed, going to continue to check columns for discrepancies and missing values where applicable.

In [251]:
filtered_df1['sqft_lot'].describe()

count    2.159700e+04
mean     1.510750e+04
std      4.143432e+04
min      5.200000e+02
25%      5.040000e+03
50%      7.618000e+03
75%      1.068500e+04
max      1.651359e+06
Name: sqft_lot, dtype: float64

In [253]:
filtered_df1['sqft_above'].describe()

count    21597.000000
mean      1788.561837
std        827.806811
min        370.000000
25%       1190.000000
50%       1560.000000
75%       2210.000000
max       9410.000000
Name: sqft_above, dtype: float64

In [255]:
filtered_df1['sqft_basement'].describe()

count    21597.000000
mean       291.698153
std        442.667904
min          0.000000
25%          0.000000
50%          0.000000
75%        560.000000
max       4820.000000
Name: sqft_basement, dtype: float64

In [257]:
print(filtered_df1[(filtered_df1['sqft_basement'] > 4000)])

               id       date      price  bedrooms  bathrooms  sqft_living  \
8092   1924059029 2014-06-17  4668000.0         5       6.75         9640
12777  1225069038 2014-05-05  2280000.0         7       8.00        13540

       sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
8092      13068     1.0           1     4          3     12        4820
12777    307752     3.0           0     4          3     12        9410

       sqft_basement  yr_built  yr_renovated zipcode  latitude  longitude  \
8092            4820      1983          2009   98040   47.5570   -122.210
12777           4130      1999             0   98053   47.6675   -121.986

       sqft_living15  sqft_lot15  month  year
8092            3270       10454      6  2014
12777           4850      217800      5  2014

In [259]:
## at first such large basemenrts seemed suspicious but the houses in which they are located have substantial living area

In [261]:
filtered_df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'latitude', 'longitude', 'sqft_living15', 'sqft_lot15', 'month',
       'year'],
      dtype='object')

In [263]:
filtered_df1['floors'].describe()

count    21597.000000
mean         1.494073
std          0.539693
min          1.000000
25%          1.000000
50%          1.500000
75%          2.000000
max          3.500000
Name: floors, dtype: float64

In [265]:
filtered_df1['waterfront'].value_counts()

waterfront
0    21434
1      163
Name: count, dtype: int64

In [267]:
# only 163 houses are considered to have waterfront views

In [269]:
filtered_df1['view'].value_counts()

view
0    19475
2      961
3      510
1      332
4      319
Name: count, dtype: int64

In [271]:
filtered_df1['condition'].value_counts()

condition
3    14021
4     5676
5     1700
2      171
1       29
Name: count, dtype: int64

In [273]:
filtered_df1['grade'].value_counts()

grade
7     8973
8     6065
9     2615
6     2038
10    1134
11     399
5      241
12      89
4       29
13      13
3        1
Name: count, dtype: int64

In [275]:
filtered_df1['yr_built'].value_counts()

yr_built
2014    559
2006    453
2005    450
2004    433
2003    421
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: count, Length: 116, dtype: int64

In [277]:
filtered_df1['yr_built'].describe()

count    21597.000000
mean      1971.001991
std         29.375729
min       1900.000000
25%       1951.000000
50%       1975.000000
75%       1997.000000
max       2015.000000
Name: yr_built, dtype: float64

In [279]:
# all houses are within the necessary time frame

In [283]:
filtered_df1['yr_renovated'].describe()

count    21597.000000
mean        84.464787
std        401.821438
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       2015.000000
Name: yr_renovated, dtype: float64

In [285]:
filtered_df1['yr_renovated'].value_counts()

yr_renovated
0       20683
2014       91
2013       37
2003       36
2005       35
        ...
1951        1
1959        1
1948        1
1954        1
1944        1
Name: count, Length: 70, dtype: int64

In [287]:
filtered_df1['zipcode'].value_counts()

zipcode
98103    601
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: count, Length: 70, dtype: int64

In [289]:
filtered_df1['sqft_lot15'].describe()

count     21597.000000
mean      12767.884104
std       27312.373033
min         651.000000
25%        5100.000000
50%        7620.000000
75%       10083.000000
max      871200.000000
Name: sqft_lot15, dtype: float64

In [291]:
filtered_df1['sqft_lot'].describe()

count    2.159700e+04
mean     1.510750e+04
std      4.143432e+04
min      5.200000e+02
25%      5.040000e+03
50%      7.618000e+03
75%      1.068500e+04
max      1.651359e+06
Name: sqft_lot, dtype: float64

In [293]:
# the max here seems high, but it equates to 37 acres which is within reason

In [295]:
filtered_df1['sqft_living15'].describe()

count    21597.000000
mean      1986.711071
std        685.169606
min        399.000000
25%       1490.000000
50%       1840.000000
75%       2360.000000
max       6210.000000
Name: sqft_living15, dtype: float64

In [297]:
filtered_df1['month'].value_counts()

month
5     2414
4     2229
7     2210
6     2177
8     1939
10    1878
3     1875
9     1771
12    1470
11    1409
2     1247
1      978
Name: count, dtype: int64

In [299]:
# all 12 months are represented

In [301]:
filtered_df1['year'].value_counts()

year
2014    14622
2015     6975
Name: count, dtype: int64

In [303]:
# all entries are within the time frame of this data set

In [312]:
df.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,latitude,longitude,sqft_living15,sqft_lot15,month,year
count,21612,2.161200e+04,21612.000000,21612.000000,21612.000000,2.161200e+04,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000,21612.000000
mean,2014-10-29 04:46:26.451971328,5.400835e+05,3.369471,2.114774,2079.921016,1.510739e+04,1.494332,0.007542,0.234314,3.409356,7.656904,1788.425319,291.495697,1971.006247,84.406163,47.560047,-122.213891,1986.582871,12768.828984,6.574449,2014.322969
min,2014-05-02 00:00:00,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,47.155900,-122.519000,399.000000,651.000000,1.000000,2014.000000
25%,2014-07-22 00:00:00,3.218375e+05,3.000000,1.750000,1426.500000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,47.470975,-122.328000,1490.000000,5100.000000,4.000000,2014.000000
50%,2014-10-16 00:00:00,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,47.571800,-122.230000,1840.000000,7620.000000,6.000000,2014.000000
75%,2015-02-17 00:00:00,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,47.678000,-122.125000,2360.000000,10083.250000,9.000000,2015.000000
max,2015-05-27 00:00:00,7.700000e+06,11.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,47.777600,-121.315000,6210.000000,871200.000000,12.000000,2015.000000
std,NaN,3.671351e+05,0.907982,0.770177,918.456818,4.142142e+04,0.539991,0.086519,0.766334,0.650668,1.175477,828.094487,442.580931,29.373636,401.688123,0.138564,0.140829,685.392610,27304.756179,3.115377,0.467622

## Export Data

In [314]:
# export data to prepared data folder

path1 = r'/Users/piperdutcher/Documents/Achievement 6/02 Data/Prepared Data'
filtered_df1.to_pickle(os.path.join(path1, 'initial_clean.pkl'))